Source: radicle-httpd
Maintainer: The Radicle Team <team@radicle.xyz>
Uploaders: Sebastian Martinez <sebastian@rhizoma.dev>
Section: vcs
Priority: optional
Standards-Version: 4.6.2
Build-Depends: debhelper (>= 10~),
  asciidoctor
Homepage: https://radicle.xyz/

Package: radicle-httpd
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, git
Description: HTTP API daemon for Radicle peer-to-peer code collaboration
 This package provides a standalone HTTP API service for interacting with
 Radicle's distributed storage and peer-to-peer network. It enables external
 tools and applications to access, query, and manage Radicle data over HTTP.
